body.bgH1 {
    background-image: url("/static/icono.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}   
body.bgH2 {
    background-image: url("Homero.jpeg");
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(157, 131, 131, 0.2);
    backdrop-filter: blur(8px);          
    -webkit-backdrop-filter: blur(8px);  
    
    z-index: -1;
}
